.home-button {
  display: inline-flex;
  padding: 8px;

  color: var(--main-light-color);

  background-color: transparent;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition: all 0.3s ease 0s;
}

.home-button:hover {
  box-shadow: inset -1px -1px 2px var(--main-light-color);
}

.home-button:active {
  color: var(--secondary-light-color);

  box-shadow: inset -15px -15px 30px var(--main-light-color);

  transition: box-shadow 0.1s ease 0s;
}

/* DARK THEME */

.home-button_dark {
  color: var(--main-dark-color);
}

.home-button_dark:hover {
  box-shadow: inset -1px -1px 2px var(--main-dark-color);
}

.home-button_dark:active {
  color: var(--secondary-dark-color);

  box-shadow: inset -15px -15px 30px var(--main-dark-color);
}
