.console {
  width: 500px;
  padding: 20px 0 30px;

  font-family: 'Courier New', Courier, monospace;

  background-color: #d3d3d3;
  border: 1px solid #000000;
  border-radius: 10px;
}

.console__content {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 10px 20px;

  background-color: #e3e3e3;
  border-bottom: 1px solid #000000;

  overflow: auto;
}

.console__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;

  border-bottom: 1px solid #000000;
}

.console__title {
  margin: 0;

  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.2em;
  color: var(--main-light-color);
}

.console__button {
  padding: 0 5px;

  font-weight: 700;
  font-size: 1.6rem;
  font-family: inherit;
  letter-spacing: 0.01em;

  background-color: #e3e3e3;
  border: 1px solid #000000;
  border-radius: 2px;

  cursor: pointer;
}

.console__button:hover {
  background-color: #cdcdcd;
}

.console__button:active {
  background-color: #b1b1b1;
}

.console__placeholder {
  margin: 0;

  font-style: italic;
  font-size: 1.6rem;
  line-height: 130%;

  color: #000000;
}

.console__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.console__item {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;

  color: #000000;
}
