:root {
  --main-light-color: #000000;
  --secondary-light-color: #ffffff;
  --main-dark-color: #ffffff;
  --secondary-dark-color: #000000;
  --error-color: #e00000;
}

html {
  height: 100%;

  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow-x: hidden;
}
