.homepage {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.homepage__header {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding: 0 2px;
}

.homepage__button {
  flex: 1 1 50%;
  margin: 0 -2px;
  padding: 0;

  font-size: 10rem;
  line-height: 120%;
  font-family: inherit;
  letter-spacing: 0.2rem;

  background-color: transparent;
  border: 4px solid #000000;
  cursor: pointer;

  transition: all 0.3s ease 0s;
}

.homepage__button:hover {
  box-shadow: inset 0 0 100px #000000;
}

.homepage__button:active {
  color: #ffffff;

  transition: all 0.1s ease 0s;
}

.homepage__button:first-child:active {
  box-shadow: inset -1500px 0 1000px #000000;
}

.homepage__button:last-child:active {
  box-shadow: inset 1500px 0 1000px #000000;
}

.homepage__footer {
  display: flex;
  justify-content: center;
  padding: 20px;

  font-size: 3rem;
  line-height: 150%;
}
